
.active-audio{
  display: flex;
  width: 100vw;
  height: 100%;
  padding-left: 4%;
  padding-right: 4%;
  background: linear-gradient(0deg, rgba(255,255,255,0.6) 0%, rgba(255,252,252,0.4) 100%);
  z-index: 100;
  align-items: center;
  justify-content : center;
  
}
.idle-audio{
  display: none;
  
}


.audio-player {
  ::-webkit-scrollbar {
    display: none;
  }
  display: flex;
  flex-direction: row;
  cursor: default;
  
  height: 4em;
  font-family: sans-serif;
  font-weight: 500 !important;
  letter-spacing: 0.15em;
  font-size: large !important;
 
  width: 100vw !important;
  position:fixed;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: flex-start;




  &-seeker {
    display: flex;
    width: 35%;
  }

  &-controls,
  &-time {
    display: flex;
    width: fit-content;
    float: right;
    font-size: 0.6em;
    font-weight: 800;
    margin-left : 1.5%;
    color: black !important;
  }

  
}
.track-name {
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-style: none; // IE 10+
    overflow: -moz-scrollbars-none;
    white-space: nowrap;
   
    width: auto;
    justify-content: right;
    text-decoration: none;
    align-content: right;
    float: right;
    margin-left: 10px;
    font-size: 1.1em;
    font-weight: 800;
    color: black !important;
   
  }

.slide-container {
  display: flex;
  align-items: center;
  margin-right: 0.15em;
  width: 35%;
}

#volume-button {
  display: flex;
}
.wrapper{
  display: flex;
  flex-direction: row;

}
.marquee {
  width: auto;
  min-width: max-content;
  margin-right: 0.3em;
}

.current-time {
  margin-right: 0.25em;
  margin-left: 0.25em;

}
 .above-visualizer{
  z-index: 102;
 }

.current-time,
.duration,
#play,
#pause,
#volume,
#forward,
#loop,
#rewind {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.player-img {
  width: auto;
  height: 2rem !important;
  margin: 0em 0.15em;
  z-index: 200;
  cursor:pointer;
}


//<-----------------------------------------------------------------------------------------------> Mobile

@Media only screen and (max-width: 900px){

.active-audio{
  display: flex;
  flex-direction: column;
   width: 100% !important;
   background: linear-gradient(0deg, rgba(255,255,255,0.8) 0%, rgba(255,252,252,0.6) 100%);
   z-index: 100;
   margin: 0;
   left: 0;
   padding-left : 0;
   padding-right : 0;
   padding-top: 10px;
   justify-self: center;
   align-items: center;
}
  //audio player
.audio-player {
  ::-webkit-scrollbar {
    display: none;
  }
  display: flex;
  flex-direction: column;
  cursor: default;
  align-items: left;
  height: auto;
  font-size: large !important;
  font-weight: 700;

    width: 100vw !important;
    position:fixed;
    bottom: 0vh;
    left: 0;
    justify-self: center;

  &-track-name {
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-style: none; // IE 10+
    overflow: -moz-scrollbars-none;
    white-space: nowrap;
    font-weight: 500;
    letter-spacing: 0.2em;
    width: 56% !important;
    margin-bottom:0.2em;
    margin: 0 auto !important;
  }

  &-seeker {
    display: flex;

    width: 100% !important;
  }

  &-controls,
  &-time {
    display: flex;
    width: fit-content;
  }

  &-time,
  &-seeker,
  &-volume {
  
    margin-top: 0.2em;
  }

 
}

.slide-container {
  display: flex;
  align-items: center;

  width: 80%;
}


.marquee {
  width: auto;
  min-width: max-content;
  margin: 0 auto !important;
 
  text-align: center;
}

.mobile-bottom-wrapper{
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: revert;
  align-items: center;
}

.current-time {
  margin-right: 0.25em;
  margin-left: 0.25em;
}

.above-visualizer{
  z-index: 102;
  height: 2em;
 }

.current-time,
.duration,
#play,
#pause,

#forward,
#loop,
#rewind {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.player-img {
  width: auto;
  height: 1.5em !important;
  margin: 0em 0.25em;
}


  .wrapper{
    width: 100%;
    justify-content: center;
  }
}